body{
  margin: 0;
  background-color: #901FBA;
  zoom: 50%;
  transition: background-color 30s ease;
}
canvas{
  position: absolute;
  background-color: none;
  opacity: 0;
  transition: all 1s ease;
}
video{
  position: absolute;
  top: -350px;
  opacity: 0;
  transition: all 0.5s ease;
  zoom: 50%;
}
.center{
  left: 50%;
  transform: translateX(-50%);
}
#console2{
  padding: 15px 15px;
  transition: all 1s ease;
  opacity: 0;
  position: absolute;
  right: 0px;
  overflow-y: scroll;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: Montserrat;
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  color: white;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
#timeContainer{
  transition: all 0.5s ease;
  position: absolute;
  width: 100px;
  height: 3%;
  border: none;
  background-color: transparent;
  padding: 2px 2px;
  opacity: 0;
}
#timeDisplay, #dayDisplay, #podDisplay{
  text-shadow: 2px 2px black;
  user-select: none;
  position: absolute;
  transition: all 0.5s ease;
  color: white;
  font-family: Montserrat;
  font-size: 3rem;
  width: 50%;
}
#dayDisplay{
  width: 100%;
  opacity: 0;
  font-size: 1.2rem;
  top: 7px;
}
#podDisplay{
  transform: translateX(-10%);
  top: 25px;
  width: 100%;
  opacity: 0;
  font-size: 1.2rem;
}
#timeContainer:hover #timeDisplay{
  left: 0%;
}
#timeContainer:hover #dayDisplay{
  transform: translateX(-10%);
  left: 100%;
  opacity: 1;
  width: 100%;
}
#timeContainer:hover #podDisplay{
  transform: translateX(-6%);
  left: 100%;
  opacity: 1;
  width: 150%;
}
